
:root {
  --wii-border-radius-action: 8px;
  --wii-border-width-action: 2px;

  --wii-colors-action-background-idle: #d1e6e6;
  --wii-colors-action-background-idle-inset-shadow: #afccd4;
  --wii-colors-action-background-idle-sheen-top: #f1f6f6;
  --wii-colors-action-background-idle-sheen-bottom: #c2dde5;

  --wii-colors-action-background-active: #93e1e5;
  --wii-colors-action-background-active-inset-shadow: #75c3d3;
  --wii-colors-action-background-active-sheen-top: #9ce6f0;
  --wii-colors-action-background-active-sheen-bottom: #80d2e3;

  --wii-colors-action-border: #153b50;
  --wii-colors-action-text: #000101;
}

.wii-btn {
  width: 100%;

  font-family: "A-OTF Shin Go Pro", sans-serif;
  font-size: larger;
  color: var(--wii-colors-action-text);

  border-width: var(--wii-border-width-action);
  border-color: var(--wii-colors-action-border);
  border-radius: var(--wii-border-radius-action);

  background-color: var(--wii-colors-action-background-idle);
  box-shadow: inset 0 0 6px 8px
    var(--wii-colors-action-background-idle-inset-shadow);

  cursor: pointer;

  position: relative;

  transition: all 100ms;
}

.wii-btn:hover {
  background-color: var(--wii-colors-action-background-active);
  box-shadow: inset 0 0 6px 8px
    var(--wii-colors-action-background-active-inset-shadow);

  transform: scale(1.05);
}

.wii-btn:active {
  animation: pulse 100ms;
}

.wii-btn:after {
  content: "";
  display: block;
  position: absolute;

  height: 8px;
  width: 98%;
  border-radius: 40px;

  background-color: var(--wii-colors-action-background-idle-sheen-top);

  top: 2px;
  left: 1%;
}

.wii-btn:hover:after {
  background-color: var(--wii-colors-action-background-active-sheen-top);
}

.wii-btn:before {
  content: "";
  position: absolute;
  display: block;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: var(--wii-border-radius-action);

  box-shadow: inset 0px -6px 0px 0px var(--wii-colors-action-background-idle-sheen-bottom);
}

.wii-btn:hover:before {
  box-shadow: inset 0px -6px 0px 0px var(--wii-colors-action-background-active-sheen-bottom);
}

@keyframes pulse {
  0% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}
